*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.main{
    background-color: blueviolet;
}
.mid{
    width: 1200px;
    margin: auto;
}
.header-section{
    height: 800px;
    background-color: rgb(226, 43, 122);
    margin-bottom: 50px;
}
.header-contact{
    width: 1200px; 
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-menu-section{
    background-color: cornflowerblue;
}
.header-menu {
    width: 1250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.header-menu ul li{
    display: inline-block;
    padding: 25px;
}
.header-menu ul li a{
    font-size: 20px;
}

/* service_section */
.service-section{
    background-image: url('/images/service.jpg');
    margin: auto;
}
.service{
    width: 250px;
    height: 230px;
    background-color: black;
    margin: 10px;
    border-radius: 5px;
    color: white;
    position: relative;
}

.service:hover .serviceIcon{
    display: block;
}


.serviceIcon{
    width: 50px;
    height: 50px;
    background-color: red;
    border: 1px solid yellow;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left:100px;
    text-align: center;
    display: none;
}
.service:hover{
    width: 250px;
    height: 230px;
    background-color: yellow;
    margin: 10px;
    border-radius: 5px;
    color: white;
}
.about{
    position: relative;

}
.light42{
    background-color: red;
    width: 400px;
    position: absolute;
    left: 550px;
    bottom:100px;

}


/* counter-section */
.counter-section{
    background-image: url('/images/bg_4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 280px;
}

.footer_section{
    position: relative;

}
.newsletter{
    background-image: url('/images/bg_1.jpg');
    background-attachment: fixed;
    position: absolute;
    top: -150px;
    left: 200px;
}